<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-5 mb-5">
        <div class="card-body">
          <h2 class="text-center">Mail</h2>
        </div>
      </div>
      
      <%= link_to "Create Mail", maxx_path, class: "btn btn-primary btn-lg mb-4" %>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>Message</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          <% @webb.each do |webb| %>
            <tr>
              <td><%= webb.email %></td>
              <td><%= webb.message %></td>
              <td><%= webb.subject %></td>
            </tr> 
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>